/*@import "_variables";
@import "_mixins";

.about {
    height: 3rem;
    background-color: royalblue;
    @include flex-row-center;
}
.about-row{
    @include flex-row-center;
    background-color: red;
    justify-content: space-between;
    height: 100%;
    width: 80vw;
    margin:0 auto;
}
.about-col{
    background-color: indigo;
    height: 90%;
    width: 25%;
    @include flex-col-center;
    justify-content: space-evenly;
}
.about-img{
    height: 25%;
}