/*@import "_variables";
@import "_mixins";

.header{
    background-color: $primary-color;
    color: #fff;
    height:95vh;
    @include flex-col-center;
    justify-content: center;
}
.header-title{
    font-size: 8rem;
    text-align: center;
}
