$primary-color-dark: #22058b;
$primary-color: #3d44f8;
$primary-color-light: #c4e0ff;
$primary-color-text: #ffffff;
$accent-color: #408cff;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;