html, 
body, 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Antonio', sans-serif;
    font-size: 62.5%; /* Normally 100% is 16 pixels. We want the size to be 10px so we do 62.5& */
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: lightgray;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 3rem;
    border-radius: 8px;
    box-shadow: 1rem 1rem 0.5rem grey;
}
.box h3{
    font-size: 3rem;
}
.box p {
    font-size: 1.5rem;
}

  .header:hover {
    color: rgb(4, 4, 90);
    box-shadow: inset 300rem 0 0 0 rgb(255, 208, 0);;
  }
  
.header {
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    background-color: rgb(4, 4, 90);
    color:rgb(255, 208, 0);
    height: 30vh;
    justify-content: center;
}
#id {
    font-family: 'Passion One', cursive;
}
.header-title {
    font-size: 25vh;
    text-align: center;
}
img{
    height: 12vw;
    width: 12vw;
}
.parent{
    height: 220vh;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 55%;
    justify-content: space-evenly;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(77, 77, 77);
    justify-content: space-between;
    height: 100%;
    width: 80vw;
    margin:0 auto;
}
.box{
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    outline-offset: 0.5rem;
}
.box:hover{
    transform: scale(1.1);
    outline: 0.5rem solid rgb(255, 255, 255);
}
.boxB:hover{
    transform: scale(1.1);
    outline: 0.5rem solid rgb(173, 173, 173);
}
.boxC:hover{
    transform: scale(1.1);
    outline: 0.5rem solid rgb(43, 43, 44);
}
.boxD:hover{
    transform: scale(1.1);
    outline: 0.5rem solid rgb(0, 0, 0);
}
.hoverflash figure:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

.hoversad figure img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hoversad figure:hover img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.hoverwiggle figure:hover img{ 
    animation: wiggle 75ms infinite;
    animation-timing-function: linear;   
  }
  
  @keyframes wiggle {
    0% { transform: translate(2px, 0); }
    50% { transform: translate(-2px, 0); }
    100% { transform: translate(2px, 0); }
  }

.hovershake figure:hover img {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  .basketballa {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
  }
  
  .basketball {
    position: relative;
    top: 200rem;
    left:4rem;
  }
  .ball {
    position: absolute;
    background-color: #e76f51;
    border-radius:50%;
    width:10rem;
    height:10rem;
    overflow: hidden;
    border: 3px solid #333;
    animation: bounce 1.5s ease-in infinite;
  }
  .ball:before, .ball:after {
    content:"";
    position: absolute;
    background-color: #333;
    width:110px;
    height:3px;
    top:50px;
    left:-5px;
  }
  
  .ball:before {
    transform: rotate(45deg);
  }
  
  .ball:after {
    transform: rotate(-45deg);
  }
  
  .lines {
    position: absolute;
    border-radius:50%;
    border: 3px solid #333;
    width:70px;
    height:70px;
    left:-20px;
    top:-20px;
  }
  
  .lines:before {
    content:"";
    position: absolute; 
    border-radius:50%;
    border: 3px solid #333;
    width:70px;
    height:70px;
    top:65px;
    left:60px;
  }
  .shadow {
    position: absolute;
    width:100px;
    height:15px;
    background-color: rgba(0, 0, 0, 0.992);
    border-radius:50%;
    top:95px;
    z-index:-1;
    left:3px;
    animation: scale 1.5s ease-in infinite;
  }
  @keyframes bounce {
    0% {transform: translate3d(0, 0, 0) rotate(0deg);}
   25% {transform: translate3d(0, -185px, 0) rotate(90deg);}
   50% {transform: translate3d(0, 0, 0) rotate(180deg);}
   75% {transform: translate3d(0, -185px, 0) rotate(270deg);}
   100% {transform: translate3d(0, 0, 0) rotate(360deg);}
 }
 @keyframes scale {
    0% {transform: scaleX(1);}
    25% {transform: scaleX(0.7);}
    50% {transform: scaleX(1);}
    75% {transform: scaleX(0.7);}
    100% {transform: scaleX(1);}
  }