html, 
body, 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Antonio', sans-serif;
    font-size: 62.5%; /* Normally 100% is 16 pixels. We want the size to be 10px so we do 62.5& */
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: lightgray;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 3rem;
    border-radius: 8px;
    box-shadow: 1rem 1rem 0.5rem grey;
}
.box h3{
    font-size: 3rem;
}
.box p {
    font-size: 1.5rem;
}
.header {
    background-color: rgb(4, 4, 90);
    color:rgb(255, 208, 0);
    height: 30vh;
    justify-content: center;
}
#id {
    font-family: 'Passion One', cursive;
}
.header-title {
    font-size: 25vh;
    text-align: center;
}
img{
    height: 12vw;
    width: 12vw;
}
.parent{
    height: 150vh;
    background-color:rgb(220, 215, 215);
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 55%;
    justify-content: space-evenly;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(77, 77, 77);
    justify-content: space-between;
    height: 100%;
    width: 80vw;
    margin:0 auto;
}
.box:hover{
    transform: scale(1.1);
    outline: 1rem solid rgb(255, 208, 0);
}
.box{
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    outline-offset: 1rem;
}