@import "_variables";
@import "_mixins";
img {
    height: 3rem;
}
.about {
    height: 3rem;
    background-color: royalblue;
}
.about-row{
    @include flex-row-center;
    justify-content: space-between;
    height: 100%;
    width: 80vw;
    margin:0 auto;
}
.about-col{
    background-color: indigo;
    height: 90%;
    width: 25%;
}